# .NET
bin/
obj/
# Node
node_modules/
dist/
# Env
.env
appsettings.Development.json
**/appsettings.Development.json

# Logs
*.log
*.err.log

# SQLite database
*.db
*.db-shm
*.db-wal

# VSCode
.vscode/*
!.vscode/extensions.json
